* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: system-ui;
}

.navbar .collapse .menus {
    display: flex;
    justify-content: flex-end;
    color: #FF8C00;
}

.navbar .collapse .navbar-nav .signup {
    border-radius: 50px;
    padding: 8px 20px;
    margin-left: 30px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #FF8C00;
    font-weight: 600;
    background-color: #FF8C00;
    text-decoration: none;
}

.navbar .collapse .navbar-nav .signup:hover {
    border-radius: 50px;
    padding: 8px 20px;
    margin-left: 30px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #0e3b80;
    font-weight: 600;
    background-color: #0e3b80;
    text-decoration: none;
    transition: 0.7s;
}

.navbar .collapse .navbar-nav .login {
    border-radius: 50px;
    padding: 11px 17px !important;
    color: #0e3b80;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
}

.navbar .collapse .navbar-nav .login,
.signup {
    margin: 6px;
}

.navbar-light .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 34px;
    font-size: 15px;
    font-weight: 500;
    color: #FF8C00;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar .menus .active_class {
    color: #FF8C00 !important;
    opacity: 1;
    font-family: system-ui;
}

.navbar .menus .active_class:hover {
    color: #0e3b80 !important;
    transition: 0.7s;
}

.navbar .menus .active {
    color: #0e3b80 !important;
    transition: 0.7s;
}

.navbar .navbar-brand img {
    width: 110px;
}

/* ======== hero-section  =========== */

.hero-section {
    padding-top: 206px;
    padding-bottom: 206px;
    /* background-color: #F8F9FA; */
}

.hero-section .title h2 {
    font-size: 44px;
}

@media only screen and (max-width: 991px) {
    .hero-section .img-sec img {
        margin-top: 40px;
    }
}

/* .hero-section input[type='email']{
   max-width: 300px;
} */



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 90vh;
    background: #136492;
}

#hero .container {
    padding-top: 72px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: lighter;
}

#hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #136492;
}

#hero .btn-get-started:hover {
    background: #209dd8;
}

#hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
}

#hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

#hero .btn-watch-video:hover i {
    color: #136492;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }

    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*===================== footer ============= */
.footer_area {
    background-color: #4EB94D;
}

.footer_area .full p {
    margin-top: 9px;
}


/* code chaange backgrbd color when scroll screen  window */

.navbar {
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: #fff;
}


/* ==========================   Change navbar color when scroll    =============================== */

.navbar.active {
    background-color: #fff;
}

.navbar-light .navbar-toggler {
    color: #FF8C00 !important;
    border: 1px solid #FF8C00 !important;

}

/* top scroll function  button csss code*/

.arrow_button {
    background-color: black;
    color: white;
    width: 35px !important;
    height: 35px !important;
    margin-bottom: 26px;
    cursor: pointer;
}

.arrow_button:hover {
    background-color: green;
    color: white;
    font-size: 44px !important;
    width: 35px !important;
    height: 35px !important;
    margin-bottom: 26px;
    transition: 0.7s;
}








/* ==============   Hero_section    ================== */

.hero-section {
    background: rgb(241, 202, 71);
    background: linear-gradient(129deg, rgba(241, 202, 71, 1) 24%, rgba(85, 181, 63, 1) 81%);
}

.hero-section .full {
    max-width: 700px;
    margin: auto;
}

.hero-section .para p {
    line-height: 33px;
    font-size: 18px;
    color: white;
}

.hero-section .MuiButton-containedPrimary {
    color: green;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    background-color: white;
}

.hero-section .MuiButton-containedPrimary:hover {
    color: green !important;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    background-color: white !important;
}


/* ================ About Section ==================== */
/* .about-section {
    background-color: aqua;
} */
.about-section .title h2 {
    color: #55b53f;
}

.about-section .full {
    max-width: 550px;
    line-height: 28px;
    margin: auto;
    text-align: center !important;
}

/*--------------------------------------------------------------
# TollFree
--------------------------------------------------------------*/
.clients {
    padding: 22px 0;
    text-align: center;
    background-color: #FF8C00;
  }
  
  .clients h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    text-align: left;
  }
  .clients h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    text-align: left;
  }
  .clients h3{
    font-size: 30px;
    font-weight: bold;
    font-weight: 700;
      line-height: 56px;
    color: #136492;
    text-align: left;
  }
  .clients span{
    color:#565A63;
    font-size: 25px;
  }
  .clients i{
    color:#fff;
  }
  
  .clients img:hover {
    filter: none;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .clients img {
      max-width: 40%;
    }
  }

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
#pricing{
    background-color: #F5F5F5;
  }
  .pricing .row {
    padding-top: 40px;
  
  }
  
  .pricing .box {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: white;
    height: 100%;
    border-top: 4px solid #F1EBEB;
    border-radius: 10px;
  }
  
  .pricing h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 30px;
    color: #FF8C00;
    text-align: center;
  }
  
  .pricing h4 {
    font-size: 20px;
    color: #136492;
    font-weight: 500;
     margin-bottom: 0px;
    text-align: center;
  }
  
  
  
  
  
  .pricing ul {
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
  }
  
  .pricing ul li {
    padding: 10px 0 10px 30px;
    position: relative;
  }
  
  .pricing ul i {
    color: #136492;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 6px;
  }
  
  .pricing ul .na {
    color: #ccc;
  }
  
  .pricing ul .na i {
    color: #ccc;
  }
  
  .pricing ul .na span {
    text-decoration: line-through;
  }
  
   .buy-btn {
    display: inline-block;
    padding: 10px 80px;
    border-radius: 50px;
    color: #FF8C00;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #FF8C00;
  }
  
   .buy-btn:hover {
    background: #136492;
    color: #fff !important;
    border:1px solid #136492;
  }
  
  .pricing .featured {
    border-top-color: #136492;
  }
  
  
  .pricing .featured .buy-btn {
    background: transparent;
    color: #136492;
    border:1px solid #136492;
  }
  
  .pricing .featured .buy-btn:hover {
    background: #136492;
    border:1px solid #136492;
    color:#fff;
  }
  
  @media (max-width: 992px) {
    .pricing .box {
      max-width: 60%;
      margin: 0 auto 30px auto;
    }
  }
  
  @media (max-width: 767px) {
    .pricing .box {
      max-width: 80%;
      margin: 0 auto 30px auto;
    }
  }
  
  @media (max-width: 420px) {
    .pricing .box {
      max-width: 100%;
      margin: 0 auto 30px auto;
    }
  }
  .section-second h2 {
    color: #FF8C00;
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.pricing .fa{
    font-size: 15px;
}    
.pricing a{
    text-decoration: none;
}    

/* ==================== document_section    ================ */

.document_section {
    background-color: #4EB94D;
}

.document_section .img-section img {
    width: 76%;
    /* float: right !important; */
}

.document_section .full .title h2 {
    margin-top: 55px;
}

.document_section .MuiButton-containedPrimary {
    color: #fff;
    text-transform: capitalize !important;
    border: 1px solid #eee;
    border-radius: 44px;
    background-color: transparent !important;
    padding: 6px 18px;
    width: 30% !important;
}

@media screen and (max-width: 480px) {
    .document_section .MuiButton-containedPrimary {
        color: #fff;
        text-transform: capitalize !important;
        border: 1px solid #eee;
        border-radius: 44px;
        background-color: transparent !important;
        padding: 6px 18px;
        text-align: center !important;
        width: 60% !important;
    }
}